{{define "base"}}
<!DOCTYPE html>
<html class="bg-black text-white" lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
  <link href="/static/output.css" rel="stylesheet">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

    body {
      font-family: "JetBrains Mono", monospace;
      font-optical-sizing: auto;
    }
  </style>
</head>

<body>
  {{template "main" .}}
</body>

</html>
{{end}}
